.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.grid {
  display: grid;
  column-gap: 32px;

  &--1 {
    grid-template-columns:1fr;
  }

  &--2 {
    grid-template-columns:repeat(2, 1fr);
  }

  &--3 {
    grid-template-columns:repeat(3, 1fr);
  }

  &--4 {
    grid-template-columns:repeat(4, 1fr);
  }

  &--5 {
    grid-template-columns:repeat(5, 1fr);
  }

  &--6 {
    grid-template-columns:repeat(6, 1fr);
  }

  &--7 {
    grid-template-columns:repeat(7, 1fr);
  }

  &--8 {
    grid-template-columns:repeat(8, 1fr);
  }

  &--9 {
    grid-template-columns:repeat(9, 1fr);
  }

  &--10 {
    grid-template-columns:repeat(10, 1fr);
  }

  &--11 {
    grid-template-columns:repeat(11, 1fr);
  }

  &--12 {
    grid-template-columns:repeat(12, 1fr);
  }
}
