:root {
  --container-width: 1280px;
  --container-padding: 64px;

  --font-main: 'PublicSans', sans-serif;
  --font-accent: 'LibreBaskerville', sans-serif;
  --font-titles: var(--font-accent);
  --font-size-main: 15px;
  --line-height-main: 1.666;

  --border-radius-large: 80px;

  --page-bg: #fff;
  --page-bg-alt: #f7f8f8;
  --text-color: #fff;
  --accent: #ac182c;
  --accent-transparent: rgba(172, 24, 44, 0.4);
  --link-color: #fff;
  --color-title-alt: #003331;
  --color-uppercase: rgba(53, 83, 98, 0.6);
  --text-color-alt: rgba(53, 83, 98, 0.8);
  --color-btn-alt: #00413E;
  --color-border-btn-alt: rgba(53, 83, 98, 0.2);

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}