.definition {
  background-color: var(--page-bg-alt);

  &__content {
    grid-column: span 6;
    padding: 115px 0;
  }

  &__title {
    margin-bottom: 13px;
  }

  &__description {
    @include fs-lh(15, 24);
    color: var(--text-color-alt);
    margin-bottom: 37px;
  }

  &__image-wrapper {
    display: flex;
    grid-column: 7/13;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 0;
    column-gap: 8px;
  }

  &__btn {
    color: var(--text-color-alt);
  }
}
