.footer {
  background-color: var(--color-bg-alt);

  &__content {
    display: flex;
    justify-content: space-between;
    text-align: end;
    align-items: center;
  }

  &__copyright {
    @include fs-lh(10, 10);
  }
}