.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 17px 0;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__nav {
  @include tablet {
    display: none;
  }
}